@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background-image: url('./components/Images/colorful.jpg');
  background-size: fill;
  background-repeat: no-repeat;
  background-color: black;
}
.header {
  font-family: 'Dancing Script', cursive;
  font-size: 6rem;
}
body {
  margin: 0;
  min-height: 100%;
  color: lightgray;
}
main {
  text-align: center;
}
h1 {
  margin: 0%;
  padding: 2%;
  margin-top: 2%;
  color: lightgray;
}
main,
#root,
body,
html {
  height: 100%;
}

button {
  background-color: lightgray;
}

.random-color-box {
  padding: 2%;
  margin-left: 46%;
  margin-right: 46%;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

@media (max-width: 500px) {
  html {
    background-size: fill;
  }
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .random-color-box {
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50%;
    align-items: center;
    display: flex;
    padding: 10%;
  }
  h1 {
    background-color: black;
    color: lightgray;
    margin: 0%;
  }
  .header {
    background-color: black;

    color: lightgray;
    margin: 0%;
  }
  .slider-box {
    background-color: black;

    color: lightgray;
    margin: 0%;
  }
  div {
    margin: 0%;
  }
  p {
    background-color: black;
    opacity: 1;
    margin-right: 7%;
    margin-left: 7%;
    font-size: 1.5rem;
  }
  button {
    background-color: black;
    color: lightgray;
    height: 3rem;
    width: 7rem;
    border-radius: 15%;
    font-size: 1.5rem;
  }
}
